# Ambiente virtuale UV / Python
.venv/
__pycache__/
*.pyc

# PyCharm / JetBrains
.idea/

# File di ambiente
.env

# models
models/

# dump, for smoke test
dump/

# plot
wandb/

# backup dataset
backup/